@charset "UTF-8";


div#container {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
}

div.item {
 /* Flex-shrink - Encolhe
    Flex-grow - Cresce 
    Flex: auto - Alinhados */

    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    flex-basis: 250px;    
    flex: auto;
}


/* ========================================================= */


div#container2 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
}

div.item2 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
 /* flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 0; */
    flex: 0 1 250px;       /*Propriedade "Flex" - 1.Grow , 2.Shrink , 3.Basis */
}

div.item2-2 {
    background-color: rgb(56, 194, 194);
    border: 1px solid black;
    text-align: center;
    padding: 15px;
 /* flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 2; */
    flex: 2 1 250px;
}

div.item2-1 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
 /* flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 1; */
    flex: 1 1 250px;
}



/* ========================================================= */


div#container3 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
}

div.item3 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    /* flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 1; */
    flex: 1 1 250px;
}


div.item3-2 {
    background-color: rgb(56, 194, 194);
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    /* flex-basis: 250px;
    flex-shrink: 2;
    flex-grow: 1; */
    flex: 1 2 250px;
}

div.item3-1 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    /* flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 1; */
    flex: 1 1 250px;
}

