@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Cutive+Mono&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --cor0: #eeede5;
    --cor01:#32df49;
    --cor02:#8ef79cd0;
    --cor03: #66d3756b;
    --cor04: #0d911e;
    --cor05: #46be56;
    --cor06: #096615;
    --cor07: #07440f;
    --cor08: #c8cbce;

    --font01: "Bebas Neue";
    --font02: "Arial, Helvetica, sans-serif";
    --font03: "idroid";
}




body{
    background-color: #8ef79cd0;
    margin: 0%;
}

header{
    background-image: linear-gradient(to bottom , #32df49 , #07440f);
    margin: 0px 0px -31px -8px;
    padding-top: 25px;
    padding-bottom: 30px;
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
}

header > h1{
    text-align: center;
    font-family: "Bebas Neue";
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px black;
}

header > p{
    padding: 10px 10px 20px 10px;
    max-width: 600px;
    margin: auto;
    text-align:center;
    font-size: 1.1em;
    color: #f7f7f4;
}

nav{
    padding: 9px;
    padding-bottom: 5px; 
}

nav > a{
    padding: 4px;
    margin: 0px 7px 20px 5px;
    text-decoration: none;
    color: #eeeeeef5;
    transition-duration: .5s;
}

nav a:hover{
    background-color: #26b437;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 3px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

main p{
    line-height: 1.5em;
    font-size: 1em;
}

main > article{
    border: 20px;
    margin: 7px 50px;
    margin-bottom: -13px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px 10px 10px;
    box-shadow: 0px 0px 10px #000000bd;
}

h1#principal{
    text-align: left;
    text-indent: 10px;
    padding-top: 25px;
    margin-top: -8px;
    font-family: "idroid";
    font-weight: normal;
    color: #096615;
}

article  p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 10px;
    margin: 15px 0px;
}

article strong{
    color: #0d911e;
}

article > h2{
    font-family: "idroid";
    background-image:linear-gradient(to right , #40c552c2 , transparent);
    color: #096615;
    margin: 0px 7px 0px 3px;
    padding-left: 7px;
    font-size: larger;
    font-weight: normal;
    margin-bottom: 6px;
}

article a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    background-color: #0d941fa2;
    padding: 1px 5px;
}

article a:hover{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    background-color: #0d941fc5;
    
}

article > #pq > img{
    max-width: 600px;
    display: block;
    margin: auto;
    
}

article picture > img{
    width: 100%;
}

div.video{
    background-color: #07440f;
    margin: 0px -10px 20px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #38a146;
    padding-bottom: 10px;
    margin: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
}

aside > h3{
    background-color: #38a146;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 9px;
    border-radius: 10px;
    text-indent: 10px;
}

aside > ul{
    list-style-type: "🗸";
    background-color: #b4f1bcbe;
    padding: 10px 6px 10px 6px;
    list-style-position: inside;
    columns: 2;
    
}

aside > p{
    background-color: #b4f1bcbe;
    padding: 0px 10px 10px 10px;
    text-indent: 10px;
    text-align: justify;
    margin: 0px;
    padding: 3px 9px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 2px;
    min-width: 300px;

}

footer  a{
    color: #135B1E;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    color: #740b0b;
    background-color: rgba(68, 70, 71, 0.5);
    text-decoration: underline;
}
