@charset "UTF-8";


div.item {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}

div.itemA {
    background-color: rgba(219, 8, 8, 0.796);
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}


div#container {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

div#container2 {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#container3 {
    background-color: black;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
}

div#container4 {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.item4 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}

/* ======================================================== */

div#container5 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 300px;
}

div#container6 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 300px;
}

div#container7 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 300px;
}

div#container8 {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}