@charset "UTF-8";

*{
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right , #430600 , #92362c );

}

main{
    background-color: white;
    border-radius: 4%;
    box-shadow: 5px 5px 15px #1d0a08  ;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1{
    color: #c29210;
    text-align: center;
    box-shadow: 5px 5px 15% #6b5109e0;

}

h2{


}

p{
    text-align: justify;
}